.post-container{
    display: flex;
    flex-direction: column;
}
.post-author{
    background-color: #424242;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.post-social-share{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}
.post-header-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://picsum.photos/1400/400");
    padding: 20px;
    color: white;
    background-color: rgba(68, 62, 62, 0.7) !important;
    background-blend-mode: color;
    background-size: cover;
    border-radius: 10px;
    height: 300px;
}

#author-image{
    border-radius: 50px;
    width: 100px;
    height: 100px;
}
@media(min-width:900px) {
    .post-container{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 400px 1fr 1fr 50px;
        grid-template-areas: 
        "hi hi hi hi hi hi"
        "ar ar ar ar au au"
        "ar ar ar ar ss ss"
        "pf pf pf pf pf pf";
    }
    .post-header-image{
       grid-area: hi;
    }
    .post-article{
        grid-area: ar;
    }
    .post-author{
        grid-area: au;
    }
    .post-social-share{
        grid-area: ss
    }
    #post-footer{
        grid-area: pf;
    }
}