.body-sidebar {
    grid-area: sb;
    display: flex;
    flex-direction: column;
}
.sidebar-about{
    background-color: #424242;
    padding: 10px;
    border-radius: 10px;
}
.sidebar-socials{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
}