@import "sidebar.css";
@import "header.css";
@import "post.css";
body{
    background-color: black;
    padding: 0;
    color: white;
    font-size: 12px;
   
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer {
    grid-area: ft;
    background-color: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #89ADCF;
}
a:hover{
    text-decoration: underline;
}
a:visited {
    color: #999999;
    }
.container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1200px 1fr 500px 50px;
    grid-template-areas: 
    "hd"
    "main"
    "sb"
    "ft";
}
.button {
    background-color: #424242;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
}
.body-content {
    grid-area: main; 
}
#anchor-home:visited{
    color: white;
}
@media(min-width:900px) {
    body{
        font-size: 16px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .container {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 700px 1fr 50px;
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "main main main main sb sb"
        "ft ft ft ft ft ft";
    }
}